<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>app1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC5CF8C41D4FBF2100E66F00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC5CF8D81D4FBF2200E66F00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC5CF8E31D4FBF2200E66F00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
